@model IEnumerable<Post>

@section Styles  {
    <link rel="stylesheet" href="~/css/feed.css" />
}

@foreach (var item in Model)
{
    <section id="post-list">
        <article>
            <header>
                <div class="user-info">
                    <span> @item.Author  </span>
                    <span class="place"> @item.Place</span>
                </div>
                <img src="assets/more.svg" alt="Mais" />
            </header>
            <img src="images/@item.Image" />
            <footer>
                <div class="actions">
                    <button type="button" (click)="handlerLike(post._id)">
                        <img src="assets/like.svg" />
                    </button>
                    <img src="assets/comment.svg" />
                    <img src="assets/send.svg" />
                </div>
                <strong>@item.Likes</strong>
                <p>
                    @item.Description
                    <span>@item.HashTags</span>
                </p>
            </footer>
        </article>
    </section>
}

